*{
	font-family: cursive;
}
.navbar{
	background-color: #1b8989;
	padding: 15px;
	font-size: 15px;
}
a{
	color: white;
	text-decoration: none;
}
.navbar a{
	margin: 10px;
}
body{
	margin: 0;
}
.float-right{
	float: right;
}

.btn{
	padding: 3px 10px 5px 10px;
	border-radius: 5%;

}
.btn-primary{
	background-color: rgb(45, 97, 218);
}
.btn-warning{
	background-color: yellow;
	color: black;
}
.mt-1px{
	margin-top: 1px;
}
.row{
	display: flex;
	padding-left: 15px;
	padding-right: 15px;
}
.col-2{
	width: 50%;
}
.col-3{
	width: 33.33%;
}
.col-4{
	width: 25%;
}
.mt-10px{
	margin-top: 10px;
}
.card{
	border: 1px solid wheat;
	padding: 10px;
	margin: 10px;
}
.text-center{
	text-align: center;
}
img{
	width: 100%;
}
.card{
	color: skyblue;
}
.card p{
	color: gray;
}
.card a{
	color: green;
}
.text-primary{
	color: blue;
}
.text-white{
	color: white;
}
.footer{
	background-color: black;
	padding: 5px;
}
.text-justify{
	text-align: justify;
}
.p-4{
	padding: 25px;
}
.p-5{
	padding: 3px;
	background-color: lightgreen;
}
.p-1{
	padding: 10px;
}
.border{
	border: 2px solid gray;
	margin: 5px;
	background-color: aliceblue;
}
input, select{
	width: 250px;
	height: 25px;
}
.m-3{
	margin: 20px;
}